@import "tailwindcss";

@layer base {
  :root {

    /* Colors */
    --background: 0 0% 100%;
    --foreground: 156 8% 15%;
    --primary: 156 24% 47%;
    --border: 156 12% 90%;
    
    /* Gradients */
    --gradient-hero: linear-gradient(135deg, hsl(156 24% 47%) 0%, hsl(45 86% 62%) 100%);

    /* Typography */
    --font-heading: 'Playfair Display', serif;
  }
}

@theme {
  
  /* background-image */
    --background-image-gradient-hero: var(--gradient-hero);

    /* color */
    --color-foreground: hsl(var(--foreground));
    --color-primary: hsl(var(--primary));
    --color-border: hsl(var(--border));
    --color-background: hsl(var(--background));
    
    /* font */
    --font-heading: var(--font-heading);
}